@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhaina 2", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeaeca;
}

.container {
  height: 100px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}

.button {
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  font-size: 2rem;
}

.greetings {
  text-align: center;
}

.info {
  font-size: larger;
  font-weight: 500;
}
